<div class="col-xs-8 col-xs-offset-4">
  <h1>Would you rather?</h1>
</div>

<% @questions.each do |q| %>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1 questionLeft">
      <p><%= q.questionOne %></p>
    </div>
    <div class="col-xs-5 questionRight">
      <p><%= q.questionTwo %></p>
    </div>
  </div>
<%end%>
